<article class="listing">
    <h3>Character id: {{character.id}}</h3>
    <div class="detail">
        <span>name:</span> {{character.name}}<br>
        <span>description:</span> {{character.description}}<br>
        <span>NT:</span> {{character.NT}}<br>
        <span>adventures:</span> {{character.adventures}}
    </div>
</article>
