<div class="ui input">
{{input value=profile.name placeholder="nombre"}}
{{input value=profile.race placeholder="nombre"}}
{{input value=profile.nationality placeholder="nacionalidad"}}
{{input value=profile.gender placeholder="genero"}}
{{input value=profile.size placeholder="altura"}}
{{input value=profile.humanity placeholder="humanidad"}}
</div>

