<td>
  <div class="ui ribbon orange label">
    {{#ui-dropdown class="selection ui mini input" onChange=(action (mut skill.name))}}
            {{skill.name}}
            <i class="dropdown icon"></i>
            <div class="menu">
            {{#each-in currentOptions as |index name|}}
                <div class="item" data-value="{{name}}">
                {{name}}
                </div>
            {{/each-in}}
            </div>
        {{/ui-dropdown}}
  </div>
</td>
<td><span class="mobile only" >Entrenado</span> {{ui-checkbox label="" checked=true readonly=true }}</td>
<td><span class="mobile only" >PD</span> {{skill.PD}}</td>
<td class="ui mini  input">
  <span class="mobile only" >Level</span>  {{input type="number" min="0" max="8" value=skill.level placeholder="level" }}
</td>
<td><span class="mobile only" >Mod</span> {{skill.mod}}</td>
