<table class="ui very basic compact selectable table">
  <thead class="mobile hidden">
    <tr><th class="four wide">Talentos</th>
    <th class="six wide" >Descripción</th>
    <th class="tree wide">Requisitos</th>
    <th class="one wide" >PD</th>
  </tr></thead>
  <tbody>
    {{#each character.talents as |talent|}}
    <tr class="">
      <td>
        <div class="ui ribbon orange label">{{talent.name}}</div>
        <i class="remove icon" {{action "removeTalent" talent}}></i>
      </td>
      <td>{{talent.description}}</td>
      <td><label class="mobile only">{{if talent.requirements "Requisitos:" }} </label>{{talent.requirements}}</td>
      <td>
        <div class="ui orange label">
          PD:
          <div class="detail gray">{{talent.PD}}</div>
        </div>
      </td>
    </tr>
    {{#if talent.levelsName}}
    <tr class="">
      <td colspan="4">
        <div class="ui ordered mini steps">
          {{#each talent.levelsName as |name index|}}
            <div class="{{ level-step-class talent index }}  step" {{action "setLevel" talent index}}>
              <div class="content">
                <div class="title">{{name}}</div>
                {{!-- <div class="description">
                  <div class="ui orange label">
                    PD:
                    <div class="detail">{{ talent.PD }}</div>
                  </div>
                </div> --}}
              </div>
            </div>
          {{/each}}
        </div>
      </td>
    </tr>
    {{/if}}

    {{/each}}
  </tbody>
</table>

<button class="ui right labeled icon button " {{action "toogleDataTalents"}}>
   <i class="plus icon"></i>
   Añadir
</button>
{{#if isShowingTalentSelector}}
<div class="ui small header">Talentos a seleccionar</div>
  <table class="ui very basic compact selectable table">
    <thead class="mobile hidden">
      <tr><th class="four wide">Talentos</th>
      <th class="six wide" >Descripción</th>
      <th class="tree wide">Requisitos</th>
      <th class="one wide" >PD</th>
    </tr></thead>
    <tbody>
      {{#each dataTalents as |talent|}}
      <tr class="" {{action "setTalent" talent}}>
        <td>
        <div class="ui ribbon label">{{talent.name}}</div>
        {{#if talent.isSelected }}
          <i class="checkmark box icon"></i>
        {{/if}}
        </td>
        <td>{{talent.description}}</td>
        <td><label class="mobile only">{{if talent.requirements "Requisitos:" ""}} </label>{{talent.requirements}}</td>
        <td><label class="mobile only">PD: </label>{{talent.PD}}</td>

      </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
