{{#ui-sticky context="#main-container"}}
      <div class="header item">
        {{character-statistics character=model}}
        </div>
{{/ui-sticky }}
<br>
{{power-levels-selector character=model}}
{{nt-selector character=model}}
{{character-profile profile=model.profile}}
{{added-templates templates=model.templates}}
<h3 class="ui header">Humanidad</h3>

<div class="ui  column grid segment">
    <div class="ui column">
        <div class="ui list ">
          <div class="item">
            <div class="header">Humanidad</div>
            {{model.humanity}}
          </div>
        </div>
          <div class="item">
            <div class="header">Estrés</div>
            {{model.stress}}
          </div>
          <div class="item">
            <div class="header">Locura</div>
            {{model.madness}}
          </div>
          <div class="item">
            <div class="header">Corrupción</div>
            {{model.corruption}}
          </div>
    </div>
</div>

<div class="ui section divider"></div>
<h2 class="ui header"> Personaje </h2>
<p>
<h3 class="ui header">Perfil</h3>
<div class="ui list">
  <div class="item">
    <div class="header">Nombre</div>
    {{model.profile.name}}
  </div>
  <div class="item">
    <div class="header">Raza</div>
    {{model.profile.race}}
  </div>
  <div class="item">
    <div class="header">Nacionalidad</div>
    {{model.profile.nationality}}
  </div>
  <div class="item">
    <div class="header">género</div>
    {{model.profile.gender}}
  </div>
  <div class="item">
    <div class="header">Altura</div>
    {{model.profile.size}}
  </div>
</div>

<h3 class="ui header"> Nivel de Poder</h3>
{{model.powerLevel.name}}<br>
{{model.powerLevel.description}}
</p>
