{{power-levels-selector character=model}}
<div class="ui section divider"></div>
<h2 class="ui header"> Personaje </h2>
<p>
{{log model.powerLevel}}
{{ model.name }}
{{model.powerLevel.name}}<br>
{{model.powerLevel.description}}
</p>
