{{#ui-sticky context="#main-container"}}
      <div class="header item">
        {{character-statistics character=model}}
        </div>
{{/ui-sticky }}
<br>
{{#ui-accordion class="styled fluid"}}
  <div class="title">
    Contexto
  </div>
  <div class="content">
    {{power-levels-selector character=model}}
    {{nt-selector character=model}}
  </div>

  <div class="title">
    Perfil
  </div>
  <div class="content">
    {{character-profile profile=model.profile}}
  </div>

  <div class="title">
    Psique
  </div>

  <div class="content">
    {{character-psique character=model}}
  </div>

  <div class="title">
    Aspectos
  </div>
  <div class="content">
    {{character-aspects model=model.aspects}}
  </div>
  <div class="title">
    Habilidades
  </div>
  <div class="content">
    {{skill-list character=model}}
  </div>

  <div class="title">
    Talentos
  </div>
  <div class="content">
    {{talent-list character=model}}
  </div>

  <div class="title">
    Dones
  </div>
  <div class="content">
    {{gift-list character=model}}
  </div>

  <div class="title">
    Limitaciones
  </div>
  <div class="content">
    {{limitation-list character=model}}
  </div>
{{/ui-accordion}}
{{!-- {{added-templates templates=model.templates}} --}}

<div class="ui section divider"></div>
<h2 class="ui header"> Personaje </h2>
<p>
<h3 class="ui header">Perfil</h3>
<div class="ui list">
  <div class="item">
    <div class="header">Nombre</div>
    {{model.profile.name}}
  </div>
  <div class="item">
    <div class="header">Raza</div>
    {{model.profile.race}}
  </div>
  <div class="item">
    <div class="header">Nacionalidad</div>
    {{model.profile.nationality}}
  </div>
  <div class="item">
    <div class="header">género</div>
    {{model.profile.gender}}
  </div>
  <div class="item">
    <div class="header">Altura</div>
    {{model.profile.size}}
  </div>
</div>

<h3 class="ui header"> Nivel de Poder</h3>
{{model.powerLevel.name}}<br>
{{model.powerLevel.description}}
</p>
